<h1>レシピ編集ページ</h1>

<div><%= link_to "トップページ", root_path %></div>

<!-- レシピ詳細ページのリンク -->
<div><%= link_to "レシピに戻る", user_recipe_path(@recipe.user, @recipe) %></div>

<%= form_with(model: [@user, @recipe], local: true, html: { multipart: true }, method: :patch) do |f| %>
  <!-- ユーザーIDを取得 -->
  <%= f.hidden_field :user_id, value: @current_user.id, id: "user_id" %>
  <!-- レシピIDを取得 -->
  <%= f.hidden_field :id, value: @recipe.id, id: "recipe_id" %> 

  <!-- @recipe.recipe_imageが存在すればそれを表示し、存在しなければデフォルトの画像を表示 -->
  <% if @recipe.recipe_image.present? %>
    <%= image_tag @recipe.recipe_image, size: '300x200', class: 'image' %>
  <% else %>
    <%= image_tag "recipe_images/initial_recipe.png", size: '300x200', class: 'image' %>
  <% end %>
  <!-- 上記の画像をクリックすると画像選択(CSSで普段は非表示) -->
  <%= f.file_field :recipe_image, id: 'recipe_image' %>
  <!-- 仮メッセージ -->
  <p>画像をクリックして写真をアップロード!</p>

  <!-- レシピ名を登録 -->
  <%= f.text_field :recipe_name, placeholder: "料理名を入力してください" %>
  
  <!-- 食材を登録 -->
  <div class="ingredient-addition">
    <!-- POST通信が行われないようにtype="button"を明示 -->
    <button type="button" class="add-ingredient-button">食材を追加する</button>
  </div>

  <!-- 既存の食材を表示・編集 -->
  <div class="ingredient-list">
    <% @recipe.ingredients.each_with_index do |ingredient, index| %>
      <div id="ingredient_<%= ingredient.id %>">
        <label>食材(<%= index + 1 %>): </label>
        <%= text_field_tag 'ingredients[]', ingredient.ingredient_name, class: 'ingredient-input', id: "ingredient_input_#{ingredient.id}"  %>
        <!-- 削除ボタンを追加 -->
        <% unless index.zero? %>
          <button type="button" class="delete-ingredient-button" data-ingredient-id="<%= ingredient.id %>" onclick="deleteIngredient(<%=  ingredient.id %>)">-</button>
        <% end %>
      </div>
    <% end %>
  </div>

  <!-- 調理工程を登録 -->
  <%= f.text_area :recipe_process, placeholder: "調理工程を入力してください" %>

  <div>
    <!-- Submit button -->
    <%= f.submit "レシピを編集する", id: 'submit-button' %>
  </div>
<% end %>

<!-- JavaScriptファイルの読み込み -->
<script src="/recipe/recipe_edit.js"></script>