<!-- CSSファイルの読み込み -->
<link rel="stylesheet" href="/user/edit.css">

<!-- ヘッダー部分 -->
<header>
  <div class="header-actions">
    <div class="header-log">
      <a><i class="fa-solid fa-utensils"></i></i><div class="logo-text">こんみる</div></a>
    </div>
    <!-- ログアウトリンク -->
    <%= link_to logout_path, data: { turbo_method: :delete }, class:"header-link" do %>
      <div class="link-icon"><i class="fa-solid fa-share-from-square"></i></div>
      <div class="header-link-text">ログアウト</div>
    <% end %>
    <!-- ユーザー一覧ページ -->
    <%= link_to all_users_path, data: { turbo: "false" }, class:"header-link" do %>
      <div class="link-icon"><i class="fa-solid fa-users"></i></div>
      <div class="header-link-text">レシピ一覧</div>
    <% end %>
    <!-- ホームページリンク -->
    <%= link_to index_path, data: { turbo: "false" }, class:"header-link" do %>
      <div class="link-icon"><i class="fa-solid fa-house"></i></div>
      <div class="header-link-text">ホーム</div>
    <% end %>
  
    <!-- プロフィール写真 -->
    <div class="profile-image">
      <% if @current_user.profile_image.attached? %>
        <%= image_tag @current_user.profile_image, size: '50x50' %>
      <% else %>
      <%= image_tag "no_image.png", size: '50x50' %>
      <% end %>
    </div>
  </div>
    
</header>
<!-- ヘッダー部分終了 -->

<main>

  <p class="search-text">ユーザー名やプロフィール写真を変更して、<br>プロフィールをカスタマイズしましょう！</p>
  
  <%= form_with(model: [@user], local: true, html: { multipart: true }, method: :patch) do |f| %>
    <div>
      <p class="announce-text">画像を変更</p>
      <!-- profile_imageが存在すればそれを表示し、存在しなければデフォルトの画像を表示 -->
      <% if @user.profile_image.attached? %>
        <%= image_tag url_for(@user.profile_image), size: '100x100', class: 'image' %>
      <% else %>
        <%= image_tag "no_image.png", size: '100x100', class: 'image' %>
      <% end %>
      <!-- 上記の画像をクリックすると画像選択(CSSで普段は非表示) -->
      <%= f.file_field :profile_image, id: 'recipe_image' %>
    </div>

    <!-- プロフィール名を登録 -->
    <%= f.text_field :user_name, placeholder: "名前を入力してください", value: @user.user_name.presence || "ユーザー(#{@user.id})", class: "profile-name-field" %>
    </div>

    <!-- プロフィール編集リンク -->
    <%= link_to edit_user_path(@user), class: "edit-link" do  %>
      <p><i class="fa-solid fa-rotate-right"></i></i>編集前に戻る</p>
    <% end %>
  
    <div class="edit-btn">
      <!-- Submit button -->
      <%= f.submit "編集を完了する", id: 'submit-button', class: "edit btn" %>
    </div>
  <% end %>
  
</main>

<!-- JavaScriptファイルの読み込み -->
<% content_for :js do %>
  <%= javascript_import_module_tag "user/user_edit" %>
<% end %>