<!-- CSSファイルの読み込み -->
<link rel="stylesheet" href="/home/top.css">

<!-- ヘッダー部分 -->
<header>
  <div class="header-actions">
    <div class="header-log">
      <a><i class="fa-solid fa-utensils"></i></i><div class="logo-text">こんみる</div></a>
    </div>
    <!-- ログアウトリンク -->
    <%= link_to logout_path, data: { turbo_method: :delete }, class:"header-link" do %>
      <div class="link-icon"><i class="fa-solid fa-share-from-square"></i></div>
      <div class="header-link-text">ログアウト</div>
    <% end %>
    <!-- ユーザー一覧ページ -->
    <%= link_to users_all_path, class:"header-link" do %>
      <div class="link-icon"><i class="fa-solid fa-users"></i></div>
      <div class="header-link-text">レシピ一覧</div>
    <% end %>
    <!-- ホームページリンク -->
    <%= link_to root_path, class:"header-link" do %>
      <div class="link-icon"><i class="fa-solid fa-house"></i></div>
      <div class="header-link-text">ホーム</div>
    <% end %>
  
    <!-- プロフィール写真 -->
    <div class="profile-image">
      <% if @current_user.profile_image.attached? %>
        <%= image_tag @current_user.profile_image, size: '50x50' %>
      <% else %>
      <%= image_tag "no_image.png", size: '50x50' %>
      <% end %>
    </div>
  </div>
    
</header>
<!-- ヘッダー部分終了 -->

<main>
  <p class="search-text">食材を入力して登録したレシピを検索</p>
  <!-- 検索フォーム -->
  <%= form_with(url: result_user_path(@current_user), method: "get", local: true, id: "ingredient_search_form") do %>
    <div class="search-container">
      <%= text_field_tag :ingredient_name, nil, id: "ingredient_name", placeholder: "食材名を入力" %>
      <%= button_tag(type: 'submit') do %>
        <i class="fa-solid fa-magnifying-glass"></i>
      <% end %>
    </div>
  <% end %>
  
  <!-- レシピ登録ページリンク -->
  <div><%= link_to "レシピを追加する", new_user_recipe_path(@current_user), class: "registration btn" %></div>

  <!-- 検索結果のレシピ一覧 -->
  <div class="recipe-container">
    <p class="container-title"><%= params[:ingredient_name] %>を<br>使ったレシピ</p>
    <!-- 検索結果の食材リストが並ぶ -->
    <% if @recipes.any? %>
      <% @recipes.each do |recipe| %>
        <div class="recipes">
        <%= link_to user_recipe_path(recipe.user, recipe), class: "recipe-link" do %>
          <!-- 投稿したレシピ画像が存在すればそれを表示し、存在しなければデフォルトの画像を表示 -->
          <div class="recipe-image"> 
          <% if recipe.recipe_image.attached? %>
            <%= image_tag url_for(recipe.recipe_image), size: '200x140', class: "image" %>
          <% else %>
            <%= image_tag "no_image.png", size: '200x140', class: "image" %>
          <% end %>
          </div>
          <div class="recipe-name"><%= recipe.recipe_name %></div>
        <% end %>
        </div>
      <% end %>
    <% else %>
    <p>該当するレシピが見つかりませんでした。</p>
    <% end %>
  </div>
    <!-- 食材リストここまで -->
</main>

<!-- JavaScriptファイルの読み込み -->
<script src="/home/home.js"></script>