<!-- CSSファイルの読み込み -->
<link rel="stylesheet" href="/recipe/show.css">

<!-- ヘッダー部分 -->
<header>
  <div class="header-actions">
    <div class="header-log">
      <a><i class="fa-solid fa-utensils"></i></i><div class="logo-text">こんみる</div></a>
    </div>
    <!-- ログアウトリンク -->
    <%= link_to logout_path, data: { turbo_method: :delete }, class:"header-link" do %>
      <div class="link-icon"><i class="fa-solid fa-share-from-square"></i></div>
      <div class="header-link-text">ログアウト</div>
    <% end %>
    <!-- ユーザー一覧ページ -->
    <%= link_to all_users_path, class:"header-link" do %>
      <div class="link-icon"><i class="fa-solid fa-users"></i></div>
      <div class="header-link-text">レシピ一覧</div>
    <% end %>
    <!-- ホームページリンク -->
    <%= link_to index_path, class:"header-link" do %>
      <div class="link-icon"><i class="fa-solid fa-house"></i></div>
      <div class="header-link-text">ホーム</div>
    <% end %>
</header>

<main>
  <!-- フラッシュメッセージ(3通り)　-->
  <% if flash[:success] %>
   <div class="flash flash-success"><%= flash[:success] %></div>
  <% end %>
  <% if flash[:edit] %>
   <div class="flash flash-edit"><%= flash[:edit] %></div>
  <% end %>

  <!-- レシピの名前 -->
  <h3 class="recipe-title"><%= @recipe.recipe_name %></h3>
  
  <!-- 投稿したレシピ画像が存在すればそれを表示し、存在しなければデフォルトの画像を表示 -->
  <% if @recipe.recipe_image.attached? %>
    <%= image_tag @recipe.recipe_image, size: '200x140', class: 'image' %>
  <% else %>
    <%= image_tag "no_image.png", size: '200x140' %>
  <% end %>
  
  <!-- 食材リスト -->
  <div class="ingredients-container">
    <div class="ingredients-text">
      <p class="ingredients-container-title">食材</p>
      <% @recipe.ingredients.each do |ingredient| %>
        <p class="ingredients"><%= ingredient.ingredient_name %></p>
      <% end %>
    </div>
  </div>

  <!-- レシピの調理過程 -->
  <div class="recipe-process">
    <div class="recipe-process-text">
      <%= @recipe.recipe_process %>
    </div>
  </div>
  
  <% if @current_user == @recipe.user %>
    <!-- レシピ編集ページ -->
    <div><%= link_to "レシピを編集する", edit_user_recipe_path, class: "recipe-edit btn" %></div>
  
    <!-- レシピ削除ボタン -->
    <div>
      <%= link_to "レシピを削除する", user_recipe_path(@recipe), data: { turbo_method: :delete, turbo_confirm: '本当に削除しますか？' }, class: "recipe-delete btn" %>
    </div>
  <% end %>
</main>

