<!-- フラッシュメッセージ -->
<% if flash[:danger] %>
  <div class="user-alert message">
    <%= flash[:danger] %>
  </div>
<% end %>

<!-- ログアウト時のフラッシュメッセージ -->
<% if flash[:notice] %>
  <div class="user-registration message">
    <%= flash[:notice] %>
  </div>
<% end %>


<h1>ログインページ</h1>
<%= form_with(url: login_path) do |f| %>
  <div>
    <p>ログインID</p>
    <%= f.text_field :login_key %>
  </div>

  <div>
    <p>パスワード</p>
    <%= f.password_field :password %>
  </div>

  <div>
    <%= f.submit "ログイン" %>
  </div>
  
<% end %>

<%= link_to "新規登録はこちらから", signup_path %>