<h1>プロフィール編集ページ</h1>

<!-- ユーザー名とユーザーの画像を表示 -->
<div>
  <h4><%=  %></h4>
</div>

<div><%= link_to "トップページ", root_path %></div>

<h4><%= link_to "ユーザー詳細ページ", user_path(@user) %></h4>

<%= form_with(model: [@user], local: true, html: { multipart: true }, method: :patch) do |f| %>

  <div>
    <!-- プロフィール名を登録 -->
    <%= f.text_field :user_name, placeholder: "ユーザー名を入力してください", value: @user.user_name.presence || "ユーザー(#{@user.id})" %>
  </div>

  <div>
    <!-- profile_imageが存在すればそれを表示し、存在しなければデフォルトの画像を表示 -->
    <% if @user.profile_image.attached? %>
      <%= image_tag url_for(@user.profile_image), size: '300x200', class: 'image' %>
    <% else %>
      <%= image_tag "no_image.png", size: '300x200', class: 'image' %>
    <% end %>
    <!-- 上記の画像をクリックすると画像選択(CSSで普段は非表示) -->
    <%= f.file_field :profile_image, id: 'recipe_image' %>
    <!-- 仮メッセージ -->
    <p>画像をクリックしてプロフィール写真をアップロード!</p>
  </div>

  <div>
    <!-- Submit button -->
    <%= f.submit "プロフィールを編集する", id: 'submit-button' %>
  </div>
<% end %>


<script src="/user/user_edit.js"></script>