<!-- フラッシュメッセージ -->
<% if flash[:alert] %>
  <% flash[:alert].each do |message| %>
    <div class="user-alert message">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>新規登録</h1>

<%= form_with(url: users_path) do |f| %>
  <div>
    <p>ログインID</p>
    <%= f.text_field :login_key %>
  </div>

  <div>
    <p>パスワード</p>
    <%= f.password_field :password %>
  </div>

  <div>
    <%= f.submit "新規登録" %>
  </div>
  
<% end %>