<!-- フラッシュメッセージ -->
<% if flash[:notice] %>
  <div class="user-registration message">
    <%= flash[:notice] %>
  </div>
<% end %>

<div><%= link_to "トップページ", root_path %></div>

<% if @current_user %>
  <!-- プロフィール編集ページリンク -->
  <div><%= link_to "プロフィール編集ページ", edit_user_path(@user) %></div>
<% end %>


<h1>ユーザー詳細ページ</h1>

<div><%= @user.user_name.presence || "ユーザー(#{@user.id})" %></div>
<div>
  <% if @user.profile_image.attached? %>
    <%= image_tag @user.profile_image, size: '250x200' %>
  <% else %>
  <%= image_tag "no_image.png", size: '250x200' %>
  <% end %>
</div>


<h2>レシピ一覧</h2>
<!-- ユーザーのレシピ一覧 -->
<% @user.recipes.each do |recipe| %>
<div>
  <h3><%= link_to recipe.recipe_name, user_recipe_path(recipe.user, recipe) %></h3>
  <!-- 投稿したレシピ画像が存在すればそれを表示し、存在しなければデフォルトの画像を表示 -->
  <% if recipe.recipe_image.attached? %>
    <%= image_tag url_for(recipe.recipe_image), size: '300x200' %>
  <% else %>
    <%= image_tag "no_image.png", size: '300x200' %>
  <% end %>
</div>
<% end %>

