<h1>検索結果</h1>

<div><%= link_to "トップページ", root_path %></div>

<!-- 検索フォーム -->
  <%= form_with(url: result_user_path(@current_user), method: "get", local: true, id: "ingredient_search_form") do %>
    <%= label_tag :ingredient_name, '食材名' %>
    <%= text_field_tag :ingredient_name, nil, id: "ingredient_name"%>
    <%= submit_tag '検索' %>
  <% end %>

<% if @recipes.any? %>
  <% @recipes.each do |recipe| %>
    <div>
      <h3><%= link_to recipe.recipe_name, user_recipe_path(recipe.user, recipe) %></h3>
      <!-- 投稿したレシピ画像が存在すればそれを表示し、存在しなければデフォルトの画像を表示 -->
      <% if recipe.recipe_image.attached? %>
        <%= image_tag url_for(recipe.recipe_image), size: '300x200' %>
      <% else %>
        <%= image_tag "no_image.png", size: '300x200' %>
      <% end %>
    </div>
  <% end %>
<% else %>
  <p>該当するレシピが見つかりませんでした。</p>
<% end %>

<!-- JavaScriptファイルの読み込み -->
<script src="/home/home.js"></script>