<!-- CSSファイルの読み込み -->
<link rel="stylesheet" href="/session/new.css">

<!-- ヘッダー部分 -->
<header>
  <div class="header-log">
    <a><i class="fa-solid fa-key"></i>ログイン</a>
  </div>
</header>

<!-- コンテンツ部分 -->
<main>
  <div class="mini-message">
    <h3>新規登録済みの方</h3>
  </div>

  <div class="form-message">
    <p>ログインIDとパスワードでログイン</p>
  </div>

  <!-- ログインフォーム開始 -->
  <%= form_with(url: login_path, data: { turbo: false }) do |f| %>
  <div class="forms">
    <div class="label-container">
      <a class="form-label">ログインID</a>
    </div>
    <div class="form-input-container">
      <%= f.text_field :login_key, placeholder: "ログインIDを入力", class: "login-form" %>
      <!-- エラーメッセージ -->
      <% if @user.errors[:login_key].any? %>
        <div class="field_with_errors">
          <%= @user.errors[:login_key].join(", ") %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="forms">
    <div class="label-container">
      <a class="form-label">パスワード</a>
    </div>
    <div class="form-input-container">
      <%= f.password_field :password, placeholder: "パスワードを入力", class: "password-form" %>
      <!-- エラーメッセージ -->
      <% if @user.errors[:password].any? %>
        <div class="field_with_errors">
          <%= @user.errors[:password].join(", ") %>
        </div>
      <% end %>
    </div>
  </div>
  
    <div class="new-login">
      <%= f.submit "ログインする", class: "login btn" %>
    </div>
  
  <% end %>
  <!-- ログインフォーム終了 -->
  
  <div class="mini-message">
    <h3>新規登録済みでない方</h3>
  </div>

  <div class="new-registration">
    <%= link_to "新規登録する", signup_path, class: "registration btn" %>
  </div>

</main>